In [ ]:

import pandas as pd
import numpy as np

In [25]:
import pandas as pd
import numpy as np

root = '/mnt/datadisk2/aglv/aglv/lab_aglv/aglv_factor/s_phi_v2_230101_240101_r30.csv'
# print(df)
df = pd.read_csv(root)
df.replace(np.inf, 0, inplace=True)
df.replace(-np.inf, 0, inplace=True)
# df.replace(0, np.nan, inplace=True)

df = df.iloc[::-1].reset_index(drop=True)
print(df)
# df = pd.read_csv(root)
# df.replace(np.inf, 0, inplace=True)
# df.replace(-np.inf, 0, inplace=True)
# print(df)
print(df.mean(), df.std())

         date  SH600718  SZ003816  SZ002656  SH688056  SZ000607  SZ001368  \
0    20230103       NaN       NaN       NaN       NaN       NaN       NaN
1    20230104       NaN       NaN       NaN       NaN       NaN       NaN
2    20230105       NaN       NaN       NaN       NaN       NaN       NaN
3    20230106       NaN       NaN       NaN       NaN       NaN       NaN
4    20230109       NaN       NaN       NaN       NaN       NaN       NaN
..        ...       ...       ...       ...       ...       ...       ...
237  20231225  0.041509  0.058362  0.200766 -0.009558 -0.261201  0.748428
238  20231226  0.015917  0.057803  0.431204  0.040534 -0.243040  0.299958
239  20231227  0.087823  0.134660  0.168079  0.196840 -0.280552  0.303515
240  20231228  0.081691  0.174905  0.169516  0.084292 -0.298895  0.305341
241  20231229  0.033257 -0.337262  0.169516  0.478367 -0.296783  0.402419

     SZ003029  SH600651  SH601339  ...  SZ301138  SZ301003  SH600936  \
0         NaN       NaN       NaN  ...       NaN       NaN       NaN
1         NaN       NaN       NaN  ...       NaN       NaN       NaN
2         NaN       NaN       NaN  ...       NaN       NaN       NaN
3         NaN       NaN       NaN  ...       NaN       NaN       NaN
4         NaN       NaN       NaN  ...       NaN       NaN       NaN
..        ...       ...       ...  ...       ...       ...       ...
237  0.867786  0.257545 -0.214342  ... -0.067675 -0.434309 -0.028454
238  0.959722  0.281374 -0.197861  ... -0.018152 -0.568761  0.072818
239  0.583293  0.297228 -0.199477  ...  0.119133 -0.446553  0.051750
240  0.516293  0.291432 -0.147615  ...  0.195393 -0.522331  0.076800
241  0.380869  0.275613 -0.123109  ...  0.088888  0.641924  0.184108

     SZ002497  SH600509  SH600689  SH688108  SZ002034  SZ000680  SH688132
0         NaN       NaN       NaN       NaN       NaN       NaN       NaN
1         NaN       NaN       NaN       NaN       NaN       NaN       NaN
2         NaN       NaN       NaN       NaN       NaN       NaN       NaN
3         NaN       NaN       NaN       NaN       NaN       NaN       NaN
4         NaN       NaN       NaN       NaN       NaN       NaN       NaN
..        ...       ...       ...       ...       ...       ...       ...
237  0.521856  0.911205  0.188146  0.043745  0.029129  0.046179  1.958243
238  0.526001  0.860078  0.293686  0.018947  0.012601  0.082139  1.304972
239  0.527291  0.658234  0.276051  0.049542  0.015191  0.129723  0.980394
240  0.539313  0.631646  0.303431  0.092308  0.013131  0.052584  1.090140
241  1.365320  0.613768  0.411084  0.121134  0.009894  0.014461  0.943034

[242 rows x 5179 columns]
date        2.023068e+07
SH600718    2.098770e-03
SZ003816    4.403931e-01
SZ002656    2.553975e-01
SH688056    2.503376e-01
                ...
SH600689    4.089722e-01
SH688108    2.500708e-01
SZ002034    8.746303e-02
SZ000680    4.740016e-01
SH688132    4.411030e-01
Length: 5179, dtype: float64 date        341.904566
SH600718      0.470179
SZ003816      0.933368
SZ002656      0.396757
SH688056      0.457659
               ...
SH600689      0.327337
SH688108      0.353681
SZ002034      0.934223
SZ000680      0.647346
SH688132      0.628955
Length: 5179, dtype: float64

In [27]:
from tqdm.notebook import tqdm
tqdm.pandas()
def zscore(series, window=30):
    # zs_series = pd.Series([(series[i] - series.iloc[:i+1].mean()) / (series.iloc[:i+1].std() + 1e-10) for i in range(len(series))])
    for i in range(window, len(series)):
        series.iloc[i] = (series.iloc[i] - series.iloc[i-window:i].mean()) / (series.iloc[i-window:i].std() + 1e-10)
    return series

# s = pd.Series([1, 3, 5, 1, 2])
# print(s[3:5])
# print(zscore(s))

data = df.iloc[:, 2:4].copy().progress_apply(zscore)
data['date'] = df['date']

data

/home/aglv/aglv/anaconda3/lib/python3.8/site-packages/tqdm/std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

HBox(children=(FloatProgress(value=0.0, max=2.0), HTML(value='')))

     SZ003816  SZ002656      date
0         NaN       NaN  20230103
1         NaN       NaN  20230104
2         NaN       NaN  20230105
3         NaN       NaN  20230106
4         NaN       NaN  20230109
..        ...       ...       ...
237       NaN       NaN  20231225
238       NaN       NaN  20231226
239       NaN       NaN  20231227
240       NaN       NaN  20231228
241       NaN       NaN  20231229

[242 rows x 3 columns]

In [16]:
data = data.fillna(0)
# data['date'] = df['date']
print(data.mean(),data.std())
print(data)

date        2.507875e+06
SH600718    0.000000e+00
SZ003816    0.000000e+00
SZ002656    0.000000e+00
SH688056    0.000000e+00
                ...
SH600689    0.000000e+00
SH688108    0.000000e+00
SZ002034    0.000000e+00
SZ000680    0.000000e+00
SH688132    0.000000e+00
Length: 5179, dtype: float64 date        6.680540e+06
SH600718    0.000000e+00
SZ003816    0.000000e+00
SZ002656    0.000000e+00
SH688056    0.000000e+00
                ...
SH600689    0.000000e+00
SH688108    0.000000e+00
SZ002034    0.000000e+00
SZ000680    0.000000e+00
SH688132    0.000000e+00
Length: 5179, dtype: float64
             date  SH600718  SZ003816  SZ002656  SH688056  SZ000607  SZ001368  \
0    2.023010e+07       0.0       0.0       0.0       0.0       0.0       0.0
1    2.023010e+07       0.0       0.0       0.0       0.0       0.0       0.0
2    2.023010e+07       0.0       0.0       0.0       0.0       0.0       0.0
3    2.023011e+07       0.0       0.0       0.0       0.0       0.0       0.0
4    2.023011e+07       0.0       0.0       0.0       0.0       0.0       0.0
..            ...       ...       ...       ...       ...       ...       ...
237  5.294651e+00       0.0       0.0       0.0       0.0       0.0       0.0
238  5.294651e+00       0.0       0.0       0.0       0.0       0.0       0.0
239  5.294651e+00       0.0       0.0       0.0       0.0       0.0       0.0
240  5.294651e+00       0.0       0.0       0.0       0.0       0.0       0.0
241  5.294651e+00       0.0       0.0       0.0       0.0       0.0       0.0

     SZ003029  SH600651  SH601339  ...  SZ301138  SZ301003  SH600936  \
0         0.0       0.0       0.0  ...       0.0       0.0       0.0
1         0.0       0.0       0.0  ...       0.0       0.0       0.0
2         0.0       0.0       0.0  ...       0.0       0.0       0.0
3         0.0       0.0       0.0  ...       0.0       0.0       0.0
4         0.0       0.0       0.0  ...       0.0       0.0       0.0
..        ...       ...       ...  ...       ...       ...       ...
237       0.0       0.0       0.0  ...       0.0       0.0       0.0
238       0.0       0.0       0.0  ...       0.0       0.0       0.0
239       0.0       0.0       0.0  ...       0.0       0.0       0.0
240       0.0       0.0       0.0  ...       0.0       0.0       0.0
241       0.0       0.0       0.0  ...       0.0       0.0       0.0

     SZ002497  SH600509  SH600689  SH688108  SZ002034  SZ000680  SH688132
0         0.0       0.0       0.0       0.0       0.0       0.0       0.0
1         0.0       0.0       0.0       0.0       0.0       0.0       0.0
2         0.0       0.0       0.0       0.0       0.0       0.0       0.0
3         0.0       0.0       0.0       0.0       0.0       0.0       0.0
4         0.0       0.0       0.0       0.0       0.0       0.0       0.0
..        ...       ...       ...       ...       ...       ...       ...
237       0.0       0.0       0.0       0.0       0.0       0.0       0.0
238       0.0       0.0       0.0       0.0       0.0       0.0       0.0
239       0.0       0.0       0.0       0.0       0.0       0.0       0.0
240       0.0       0.0       0.0       0.0       0.0       0.0       0.0
241       0.0       0.0       0.0       0.0       0.0       0.0       0.0

[242 rows x 5179 columns]

In [4]:
data.to_csv('s_phi_v2_zs2_230101_240101_r30.csv', index=False)